* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body, html {
    height: 100%;
    background-color: #f5f5f5;
}
.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 250px;
    background-color: #1E3A5F;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.logo {
    background-image: url('../images/iconeoculos1.png');
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.sidebar nav ul {
    list-style: none;
    width: 100%;
}
.sidebar nav ul li {
    padding: 15px;
    text-align: center;
}
.sidebar nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    display: block;
    transition: 0.3s;
}
.sidebar nav ul li:hover, .active {
    background-color: #ffb200;
}
.content {
    flex: 1;
    display: flex;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;  
    
}
.principal{
    width: calc(100% - 80px);
    height: calc(100% - 80px);
   
     
}
.bar{
    width: 100%;
    height: 3px;
    background-color: black;
    margin-top: 30px;
}
.list_title{
    padding-top: 30px;
}

.title_area{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title_area ul{
    list-style: none;
}
.title_area a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #ffb200;
    padding: 10px;
}
.acompanhamento_area{
    height: calc(100% - 110px);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1E3A5F;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.informacoes {
    margin-top: 20px;
    width: 100%;    
    
}
.informacoes_chamado th, td{
    text-align: left;
}
.informacoes_chamado tbody tr:nth-child(even){
    background-color: #BBB;   
}
.tr1{
    background-color: #ffb200;
    color: white;
}
.error{
    border: 2px solid #FF0000;
}
.error::placeholder{
    color: #000;   
}
.button {
  color: #fff;
  background-color: #007BFF;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}
.backup{
    font-weight: bold;
    padding: 10px;
    margin-left: 5px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
 
